*{
    margin: 0;
    padding: 0;
}
header{
    height: 50px;
    width: 100%;
    background-color: rgb(125, 217, 248);
    text-align: center;
    float: left;
}


.left_content{
    background-color: steelblue;
    height: 350px;
    width: 60%;
    float: left;
    text-align: center;

}

.right_top{
    background-color: yellowgreen;
    height: 320px;
    text-align: center;
}
.right_bottom{
    background-color: tomato;
    text-align: center;
    height: 80px;
}
.features{
    background-color: rgb(58, 214, 118);
    height: 80px;
    text-align: center;
}
.more_copy{
    height: 100px;
    width: 60%;
    background-color: rgb(221, 145, 132);
    text-align: center;
    float: left;
}
.call_to_action{
    height: 100px;
    width: 40%;
    background-color: rgb(10, 115, 185);
    text-align: center;
    float: right;
}
.mid_section{overflow: hidden;}
.footer{
    height: 100px;

    background-color: rgb(137, 231, 13);
    text-align: center;

}

